body {
  font-family: verdana;
  background: #FFFEEF;
  text-align: center;
  padding: 10px;
}

h1 { color: black;
    margin: 0 0 5px 0; 
    font-weight: bold;
   }
p  { color: black; }


 nav {
      background-color: #FFFEEF;  /* COLORE SFONDO DEL MENU */
      padding: 10px 0;            /* SAZIO SOPRA E SOTTO IL MENU */
      border: 3px;         
      border-color: #333;         /* BORDO NERO */
      border-radius: 10px;        /* BORDI ARROTONDATI */
    }

    nav ul {
      list-style: none;          /* ROBA DENTRO IL MENU */
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
    }

    nav ul li {
      margin: 0 40px;        /* SPAZIO TRA UN ELEMENTO DEL MENU E L'ALTRO */
    }

    nav ul li a {
      color: #333 ;
      text-decoration: none;
      font-weight: bold;
      transition: color 0.3s;
      border: 2px;   /* BORDO ATTORNO AL LINK */
      border-color: #333;
      border-radius: 8px;       /* ANGOLI ARROTONDATI */
    }

    nav ul li a:hover {
      color: red;
    }

footer {
  text-align: center; 
}


